<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Boots</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap-4.0.0.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li class="nav-item dropdown">

            </li>


        </ul>
        <form class="form-inline my-2 my-lg-4">
        </form>
    </div>
</nav>
<section>
    <div class="jumbotron text-center mt-auto col-lg-12">
        <div class="col-12" style="height:700px;center">
            <br><br><br><br><br><br>

            <font size=10>操作失败 <br>
                <button class="btn btn-primary" onclick="window.location.href='/user/selectbalance'"
                ><font color="#F8F8F8" size="5">返回</font></button>
            </font>


        </div>
</section>
<script src="/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-4.0.0.js"></script>
</body>
</html>
