<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Boots</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap-4.0.0.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

            <li class="nav-item dropdown">

            </li>


        </ul>
        <form class="form-inline my-2 my-lg-4">

        </form>
        <button class="btn btn-dark"
        >

        </button>
    </div>
</nav>
<section>
    <div class="jumbotron text-center mt-auto col-lg-12">
        <form action="/user" class="card-body" method="post">
            <font size=200>欢迎光临银行，请登录您的账户</font>
            <br><br>
            <p>本银行为用户提供存储，转账，理财等多项业务</p><br>
            <div class="col-sm-4 col-3 offset-xl-4">
                <label class="col-form-label" for="location1">用户名</label>
                <input aria-describedby="basic-addon1" class="form-control" id="userId" name="userId" type="text">
                <label class="col-form-label" for="userId">密码</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input aria-describedby="basic-addon1" class="form-control" id="pwd" name="pwd"
                           type="password"/><br>
                </div>
            </div>
            <br>
            <p class="text-center">
                <button class="btn btn-primary" type="submit"
                ><font size="5">登录</font></button>
            </p>

        </form>

    </div>
</section>
<script src="/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-4.0.0.js"></script>

</body>

</html>